<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- navigation.css file -->
    <link rel="stylesheet" type="text/css" href="../navigation.css">
</head>

<div class="jumbotron"></div>
<div class="title"><h1 class="text-primary text-center display-1">Gamer Island</h1></div>

<nav class="myNav">
    <div id="home">Home</div>
    <div id="trending">Trending</div>
    <div id="rated">Rated</div>
</nav>

<!-- ctrl.js file -->
<script src="controller/ctrl.js"></script>