<html>

<head>
    <title>Homepage</title>
    <!-- homepage.css file -->
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body class="bg-light">
    
    <% include includes/navigation.ejs %>
    
    <div class="intro">
        <div class="firstSection bg-light">
            <div class="title text-primary">
                What is this?
            </div>
            <div class="description">
                this is a game reviewer website, we pick the most enjoyable and rated video games from all over the world, we consider the ratings and player reviews, and there is also trailers and videos about every certain video game.
            </div>
        </div>
        <div class="secondSection bg-light">
            <div class="title text-primary">
                The advantages
            </div>
            <div class="description">
                we recommand you to visit our website everytime you would like to buy a video game, we will give you details of the game and even the little ones, there is categories and sections, You'll love it!
            </div>
        </div>
        <div class="thirdSection bg-light">
            <div class="title text-primary">
                The team
            </div>
            <div class="description">
                my facebook page:<br>
                <a href="https://www.facebook.com/yassir.elyakine.7"><i class="fa fa-facebook text-primary"></i></a>
            </div>
        </div>
    </div>
    
    </body>
    
</html>